{% extends "series/base.html"%}

{% load static %}
{% block content %}
<a href="{% url 'index'%}" style="margin-left: 30px">Back to main page</a>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto">
      <img class="card-img-top" src="{% static 'series/movie/happiness.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ movie.movie_name }} ({{ movie.released_year }})</h5>

            <p class="card-text">

              When a strange virus begins to spread...

            </p>

            <div class="row" style="text-align: center">
              <div class="col-sm-6">
                <a href="{% url 'voteup' movie.id %}" class="card-link">Vote Up</a>
              </div>
              <div class="col-sm-6">
                <a href="{% url 'delete' movie.id %}">Delete</a>
              </div>
            </div>

        </div>
    </div>
</div>


<div class="col-sm-3">

  <div>
  <img class="card-img-top" src="{% static 'series/actress/actress1.jpg' %}" alt="Card image cap" style="border-radius: 100px; width:130px; margin-left: auto; margin-right: auto; margin-top: 20px; display: block">
  <p style="margin-top: 10px; text-align: center">
    {% for each in actress %}
        <i>{{ each }}</i>
    {% endfor %}
  </p>
  </div>

  <div style="margin-top: 40px">
  <img class="card-img-top" src="{% static 'series/actress/actress1.jpg' %}" alt="Card image cap" style="border-radius: 100px; width:130px; margin-left: auto; margin-right: auto; margin-top: 20px; display: block">
  <p style="margin-top: 10px; text-align: center">
    {% for each in actress %}
        <i>{{ each }}</i>
    {% endfor %}
  </p>
  </div>

</div>



<div class="col-sm-3">

  <div>
  <img class="card-img-top" src="{% static 'series/actor/actor1.jpg' %}" alt="Card image cap" style="border-radius: 100px; width:130px; margin-left: auto; margin-right: auto; margin-top: 20px; display: block">
  <p style="margin-top: 10px; text-align: center">
    {% for each in actor %}
        <i>{{ each }}</i>
    {% endfor %}
  </p>
  </div>

  <div style="margin-top: 40px">
  <img class="card-img-top" src="{% static 'series/actor/actor1.jpg' %}" alt="Card image cap" style="border-radius: 100px; width:130px; margin-left: auto; margin-right: auto; margin-top: 20px; display: block">
  <p style="margin-top: 10px; text-align: center">
    {% for each in actor %}
        <i>{{ each }}</i>
    {% endfor %}
  </p>
  </div>

</div>

{% endblock %}
