{% extends "series/base.html" %}

{% block content %}
{% if error %}{{ error }}{% endif %}
{% if success %}{{ success }}{% endif %}

<form action="{% url 'new' %}" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <label for="movie" style="margin-bottom: 10px">Movie:</label>
    <input type="text" name="movie" class="form-control form-control-lg" id="movie" style="margin-bottom: 10px">
  </div>

  <div class="form-group">
    <label for="year" style="margin-bottom: 10px">Released Year:</label>
    <input type="text" name="year" class="form-control form-control-lg" id="year" style="margin-bottom: 10px">
  </div>

  <div class="form-group">
    <label for="actress" style="margin-bottom: 10px">Actress name:</label>
    <input type="text" name="actress" class="form-control form-control-lg" id="actress" style="margin-bottom: 10px">
  </div>

  <div class="form-group">
    <label for="actor" style="margin-bottom: 10px">Actor name:</label>
    <input type="text" name="actor" class="form-control form-control-lg" id="actor" style="margin-bottom: 10px">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
